/* reset default margin/padding values */
*{
    margin: 0;
    padding: 0;
}

/* banners */
.banner{
    margin: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.banner2{
    margin: auto;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    background-color: teal;
}
.column-banner{
    margin: 0;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    background-color: rgb(0, 128, 128, 0.5);
}
.banner-img{
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
}

/* navigation buttons */
.nav-button{
    padding: 3px 40px 3px 40px;
    margin-left: 1%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    color: black;
    font: small-caps bold 14px/1 sans-serif;
    text-decoration: none;
}
.nav-button2{
    padding: 3px 20px 3px 20px;
    margin-bottom: 2%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    color: black;
    font: small-caps bold 14px/1 sans-serif;
    text-decoration: none;
}
.nav-button:hover{
    filter:drop-shadow(0px 16px 20px rgb(0, 0, 0)) invert(100%);;
}
.nav-button2:hover{
    filter:drop-shadow(0px 16px 20px rgb(0, 0, 0)) invert(100%);;
}
#alternate-page{
    background-color: rgba(255, 145, 1, 0.3);
}

/* banner text formatting */
.banner-header{
    color: white;
    font: small-caps bold 24px/1 sans-serif;
    font-size: x-large;
}

/* main body formatting */
body{
    background-color: rgba(0, 20, 10);
}

/* header formatting (all) */
.content-header{
    color: lightskyblue;
    font: small-caps bold 30px/1 sans-serif;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.content-header2{
    color: white;
    font: small-caps bold 20px/1 sans-serif;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.content-header3{
    color: white;
    font: small-caps bold 16px/1 sans-serif;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.content-header4{
    color: plum;
    font: small-caps bold 15px/1 sans-serif;
    padding: 10px 5px;
    display: flex;
    justify-content: left;
    text-align: left;
}

/* paragraph formatting */
.content-paragraph{
    color: wheat;
    background-color: black;
    padding: 10px 5px;
    font: 1.2em "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1.5px solid lightgreen;
    border-left: 0px;
    border-right: 0px;
}
.content-paragraph2{
    color: wheat;
    background-color: black;
    padding: 10px 5px;
    font: 1.2em "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1.5px solid lightgreen;
}

/* main warning formatting */
#warning{
    color: whitesmoke;
    font-size: large;
    background-color: brown;
}
/* content warning formatting */
#content{
    color: black;
    font-size: large;
    background-color: rgb(177, 115, 0);
}

/* tables formatting */
table{
    background-color: black;
    font: 1.2em "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    border: 1.5px solid lightgreen;
    border-left: 0px;
    border-right: 0px;
}
.table-left{
    padding: 6px;
    width: 8em;
}
.table-right{
    padding: 6px 0px 6px 50px;
    width: 44em;
}
.table-col1{
    padding: 6px;
    width: 9em;
}
.table-col2,.table-col3,.table-col4{
    padding: 6px;
    width: 5em;
}
th{
    text-align: left;
    color: wheat;
}
tr{
    color: white;
}
tr:hover{
    background-color: navy;
}

/* video embed formatting */
.video{
    display: flex;
    justify-content: center;
}

/* adjust content for column navigation bar */
.content{
    margin-left: 220px;
    margin-top: -560px;
    margin-right: 10px;
}
#content-selection{
    margin-top: -520px;
}